<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<table style="width: 100%">
    <tr>
        <th>Attraktion</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Handlinger</th>
    </tr>


    <tr>
        <td>Tivoli</td>
        <td>Runde Tårn</td>
        <td>Nyhavn</td>
    </tr>

    <tr>
    <td>Et sjovt sted</td>
    <td>Et stort tårn</td>
    <td>En havn der blev bygget for nyligt</td>
</tr>

</table>




</body>
</html>