<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turistattraktioner</title>
    <link href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h2>Turistattraktioner:</h2>
<table border="2">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
        <th></th>
        <th></th>
        <!-- <th>Tags</th> -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristAttraction : ${touristAttractions}">
        <td th:text="${touristAttraction.name}"></td>
        <td th:text="${touristAttraction.description}"></td>
        <td th:text="${touristAttraction.city}"></td>

        <td>
            <form th:action="@{/tags}" method="get">
                <input type="hidden" name="attractionName" th:value="${touristAttraction.name}" />
                <button type="submit">Tags</button>
            </form>
        </td>

        <td>
            <form th:action="@{/attraction/update}" method="get">
                <input type="hidden" name="name" th:value="${touristAttraction.name}" />
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/addAttraction}" method="get">
    <button type="submit">Tilføj attraktion</button>
</form>
</body>
</html>
