<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tourist Attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h2>Edit Turistattraktion:</h2>
<form th:action="@{/update}" method="post" th:object="${touristAttraction}">
    <input type="hidden" name="name" th:value="${touristAttraction.name}" />

    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" th:value="${touristAttraction.name}" readonly><br>

    <label for="description">Beskrivelse:</label>
    <textarea id="description" name="description" th:field="*{description}" required></textarea><br>

    <label for="city">Vælg by:</label>
    <select id="city" name="city" th:field="*{city}">
        <option th:each="cityItem : ${cities}" th:value="${cityItem}" th:text="${cityItem}" th:selected="${cityItem == touristAttraction.city}"></option>
    </select><br>

    <label>Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" id="tag" name="tags" th:value="${tag}" th:text="${tag}" th:checked="${touristAttraction.tags != null and touristAttraction.tags.contains(tag)}">
    </div><br>

    <button type="submit">Gem ændringer</button>
    <a th:href="@{/attractions}">
        <button type="button">Annuller</button>
    </a>
</form>
</body>
</html>
